@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Elms Sans", sans-serif;
    list-style: none;
}

header{
    background-color:forestgreen;
    box-shadow: 0px 3px 10px #333;
}

.index-h1{
    color: forestgreen;
}

.texto1{
    font-size: 1.4rem;
}

/* Footer */

footer{
    font-size: 1.5rem;
    display: block;
    text-align: center;
   background-color: forestgreen;
   color: antiquewhite;
   box-shadow: 0px -2px 6px #333;
}

body, html{
    background-color: antiquewhite;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

/* NavBar */

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;

}

.logo h1{
    color: bisque;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    justify-content: center;
    display: flex;
}

.nav-item{
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: antiquewhite;
    font-weight: 400;
}

.login-button {
    border: solid 0.1rem antiquewhite;
    padding: 10px 15px;
    background-color: tomato;
    border-radius: 10px;
    text-decoration: none;
    color: antiquewhite;
    font-weight: 500;
    font-size: 1.1rem;
}

.logo h1:hover{
    cursor: pointer;
    background: tomato;
    border: solid;
    border-radius: 0.3rem;
}

a:hover{
    color: antiquewhite;
    background: tomato;
    border-radius: 0.3rem;
    border: solid;
    }

.logo a:hover {
    background: none;
    border: none;
    transform: none;
}


.logo a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 70px;      
    height: 100px;
    object-fit: cover;
}




/* Menu Hamburguer e Responsividade */

.icon{
    background-color: tomato;
    border-radius: 0.3rem;
  
}

.icon:hover{
border-color: antiquewhite;
border-radius: 0.5rem;
cursor: pointer;
font-size: 1.2rem;
}

.mobile-menu-icon{
    display: none;

}

.mobile-menu{
    display: none;
}
.icon{
    display: none;
}

/* Responsividade */

@media screen and (max-width: 900px){


    .nav-bar{
        padding: 1.5rem 1.5rem;
    }
    .nav-item{
        display: none;
    }

    .login-button{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

     .icon {
        display: block;
    }

}
.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
}

.mobile-menu .nav-item{
    display: block;
    padding-top: 1.2rem;
}

.mobile-menu .login-button{
    display: block;
    padding: 1rem 2rem;
    
}

.mobile-menu .login-button button{
    width: 100%;
}

.open{
    display: block;
}


/* Página index */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 6rem;
    gap: 3rem;
    flex-wrap: wrap;
}

/* Texto */
.hero-text {
    flex: 1;
    min-width: 300px;
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.hero-text p {
    font-size: 1.2rem;
    color: #444;
    margin-bottom: 2rem;
    max-width: 550px;
}

/* Botões */
.hero-buttons {
    display: flex;
    gap: 1rem;
}

.btn1{
    background: forestgreen;
    padding: 0.9rem 1.8rem;
    font-weight: 600;
    border-radius: 6px;
    color: antiquewhite;
    text-decoration: none;
}

.btn2 {
    border: 2px solid forestgreen;
    padding: 0.8rem 1.7rem;
    border-radius: 6px;
    font-weight: 600;
    text-decoration: none;
    color: forestgreen;
}

/* Imagem */

.hero-image-wrapper {
    flex: 1;
    min-width: 300px;
    display: flex;
    justify-content: center;
}

.hero-image {
    width: 100%;
    max-width: 520px;
    border-radius: 60% 40% 55% 45% / 50% 60% 40% 50%;
    object-fit: cover;
}

/* Responsividade */

@media (max-width: 900px) {
    .hero {
        padding: 3rem 2rem;
        text-align: center;
    }

    .hero-buttons {
        justify-content: center;
    }

    .hero-image {
        max-width: 400px;
    }
}

/* Página de Integrantes */

/* Container das imagens */
.img-cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
}


.img-card {
    text-align: center;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: inherit;
    
}


.img-card img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}


.img-card:hover img {
    transform: scale(1.08);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    background: none;
    border: none;
    color: inherit;
}

.img-card:hover {
    transform: translateY(-5px);
    background: none;
    border: none;
    color: inherit;
}

/* Página FAQ accordion */

.faq-h2{
    text-align: center;
    color: #2d7a2d;
}

.link-contato{
    text-decoration: none;
    color: #2d7a2d;
}

#container {
    max-width: 800px;
    margin: 1rem auto;
    padding: 0 1rem;
}

.accordion {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    margin-bottom: 1rem;
    overflow: hidden;
}

/* Pergunta/header */
.accordion-header {
    width: 100%;
    padding: 1.2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    background-color: forestgreen;
    color: antiquewhite;
    cursor: pointer;
    border: none;
}

.accordion-header:hover {
    background-color: #2d7a2d;
}

.accordion-header i {
    transition: transform 0.3s ease;
}


.accordion-header.active i {
    transform: rotate(180deg);
}

/* Resposta */
.accordion-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
    background: #fafafa;
    padding: 0 1.5rem;
}

.accordion-body p {
    padding: 1rem 0;
    font-size: 1.1rem;
    color: #333;
}


/* Página de Contato */

/* CONTAINER DO FORM */
.contato {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.contato h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* FORM */
#formContato {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#formContato label {
    font-weight: bold;
}

/* CAMPOS */
#formContato input {
    padding: 10px;
    border: 2px solid #f2cfa5;
    border-radius: 10px;
    background-color: #ffe9d6;
    outline: none;
    font-size: 16px;
}

#formContato input:focus {
    border-color: #f45d48;
}

/* BOTÃO */
.btn-enviar {
    background-color: #f45d48;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-enviar:hover {
    background-color: #d64739;
    transform: scale(1.03);
}

/* MENSAGEM DE ERRO */
#erro {
    margin-top: 10px;
    color: red;
    font-weight: bold;
}

/* RESPONSIVIDADE */
@media (max-width: 500px) {
    .contato {
        padding: 10px;
    }

    #formContato input {
        font-size: 14px;
    }

    .btn-enviar {
        font-size: 16px;
    }
}


/* PÁGINA dee RECOMPENSAS */

/* CARDS */
.rewards-title {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
    color: forestgreen;
}


.rewards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem;
}


.reward-card {
    background: #fff;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform .3s ease, box-shadow .3s ease;
}


.reward-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}


.reward-img {
    width: 85px;
    margin-bottom: 1rem;
}


.reward-card h3 {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

/* PONTOS */
.points {
    font-size: 1rem;
    color: forestgreen;
    margin-bottom: 1rem;
}

/* BOTÃO RESGATAR */
.btn-resgatar {
    background: forestgreen;
    color: #fff;
    border: none;
    width: 100%;
    padding: .7rem;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.btn-resgatar:hover {
    background: #2d7a2d;
}


/* RESPONSIVIDADE */

@media (max-width: 900px) {
    .rewards-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* MODAL/CONFIRMAÇÂO */

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-content {
    background: #fff;
    padding: 25px;
    width: 90%;
    max-width: 380px;
    border-radius: 10px;
    text-align: center;
    animation: aparecer 0.2s ease;
}

@keyframes aparecer {
    from { transform: scale(0.7); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#btn-confirmar {
    background: forestgreen;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

#btn-cancelar {
    background: tomato;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

#toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: forestgreen;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    display: none;
    font-weight: bold;
    z-index: 1000;
}


/* Página Sobre */

.sobre-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.sobre-pag {
    max-width: 800px;        
    text-align: center;       
    font-size: 1.1rem;
    line-height: 1.7;        
    color: #333;
    margin: 0 auto;
    padding: 20px;

    background: #f7f7f7;      
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
}
