@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Elms Sans", sans-serif;
    list-style: none;
}

header{
    background-color:forestgreen;
    box-shadow: 0px 3px 10px #333;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo{
    display: flex;
    align-items: center;

}

.logo h1{
    color: bisque;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    justify-content: center;
    display: flex;
}

.nav-item{
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: antiquewhite;
    font-weight: 400;
}

.login-button {
    border: solid 0.1rem antiquewhite;
    padding: 10px 15px;
    background-color: tomato;
    border-radius: 10px;
    text-decoration: none;
    color: antiquewhite;
    font-weight: 500;
    font-size: 1.1rem;
}

.logo h1:hover{
    cursor: pointer;
    background: tomato;
    border: solid;
    border-radius: 0.3rem;
}

a:hover{
color: antiquewhite;
background: tomato;
border-radius: 0.3rem;
border: solid;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

/* Menu Hamburguer */

.icon{
    background-color: tomato;
    border-radius: 0.3rem;
  
}

.icon:hover{
border-color: antiquewhite;
border-radius: 0.5rem;
cursor: pointer;
font-size: 1.2rem;
}

.mobile-menu-icon{
    display: none;

}

.mobile-menu{
    display: none;
}
.icon{
    display: none;
}

@media screen and (max-width: 730px){
    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }

    .login-button{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

     .icon {
        display: block;
    }
}
.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
}

.mobile-menu .nav-item{
    display: block;
    padding-top: 1.2rem;
}

.mobile-menu .login-button{
    display: block;
    padding: 1rem 2rem;
}

.mobile-menu .login-button button{
    width: 100%;
}

.open{
    display: block;
}